.Header
{
    width: 100%;
    height: 100px;
    /* padding-left: 2rem; */
    background-color: #2B4068;
    display: flex;
    justify-content: flex-start;
    box-shadow: inset;
}

h1
{
    padding-left: 2rem;
    color: #E4EAF3;
}