.containerResults
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.resultsContainer
{
    background-color: white;
    height: 400px;
    width: 40%;
    border-radius: 8px;
    margin: 0 auto;
}

.resultsPlaceholder
{
    padding-left: 10px;
    padding-top: 10px;
    color: grey;
    font-size: 18px;
    text-align: start;
    font-weight: 100;
}