.topPostContainer
{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create a dynamic grid */
    grid-gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

.topPost
{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.topPostImage
{
    max-width: 100%;
  height: auto;
  display: block;
}